
@model DebetCredit.Models.BalanceTableModel
@{
    ViewBag.Title = "Главная";
}
<br />
<div class="container">
    <div class="row">
        <div class="col-md-6 text-left">
                @using (Html.BeginForm("DateRange", "Balance", FormMethod.Post))
                {
                    <input type="date" name="start" />
                    <input type="date" name="end" />
                    <input type="submit" class="btn btn-default" name="submit" value="Фильтровать" />
                }
        </div>
        <div class="col-md-6 text-right">
            <a class="btn btn-info" href="@Url.Action("Create","Balance")">Добавить</a>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2">
        <h1>Категории</h1>
        <a class="btn btn-warning" href="@Url.Action("Inaction","Balance")">Доходы</a><br /><br />
        <a class="btn btn-warning" href="@Url.Action("Outaction","Balance")">Расходы</a>
    </div>
    <div class="col-md-10">
        <table class="table table-bordered table-striped  text-center">
            <tr>
                <td><b>Дата</b></td>
                <td><b>Приход/Расход</b></td>
                <td><b>Категория</b></td>
                <td><b>Сумма</b></td>
                <td><b>Комментарии</b></td>
                <td><b>Действия</b></td>
            </tr>
            @foreach (var item in Model.Rows)
            {
                <tr>
                    <td>@Html.DisplayFor(model => item.Date)</td>
                    <td>@Html.DisplayFor(model => item.Inout)</td>
                    <td>@Html.DisplayFor(model => item.Category)</td>
                    <td>@Html.DisplayFor(model => item.Summ)</td>
                    <td>@Html.DisplayFor(model => item.Comment)</td>
                    <td>
                            <a  class="btn btn-success" href="@Url.Action("Edit", "Balance", new {@id=@item.ID })">Редактировать</a><br /><br />
                            <a class="btn btn-danger" href="@Url.Action("Delete", "Balance", new {@id=@item.ID })">Удалить</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>




